//reset
ul{margin:0; padding:0;}
ul li{list-style: none;}
//竖屏提示
@media all and (orientation : landscape) {
  .portrait-tip{display: none;}
  .app{display: block;}
}

@media all and (orientation : portrait){
  .portrait-tip{display: block;}
  .app{display: none;}
}
//字体适应屏幕
html{font-size:100%;height: 100%;}
body{font-size:1rem;height: 100%;}
html,body,.app,.app>div{
  min-width: 900px;
  min-height: 100%;
  background-color: #f6f7fb;
}
/*字体颜色*/
.text-white{color:$white;}
.text-yellow{color:$warning;}
.text-gray{color:$light}
.text-deep-gray{color:$dark}
.text-blue{color:$theme}
/*字体大小*/
.text-10{font-size:10px;}
.text-14{font-size:14px;}
.text-16{font-size:16px;}
.text-18{font-size:18px;}
.text-24{font-size:24px;}
.text-28{font-size:28px;}
/*宽度设置*/
.w100per{width: 100%;}

/*placeholder color*/
@mixin placeholderColor($color){
  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
    opacity:  1;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
    opacity:  1;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}
/*去掉input内阴影*/
input,textarea{-webkit-appearance: none;}
/*reset bootstrap*/
.form-control{height: 40px;}
@media (min-width: 768px){
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*title*/
.title{
  font-size:18px;
  font-weight: bold;
  color:$dark;
}
/*loading*/
.loading{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 9999;
  text-align: center;
  background:url("../images/loading.gif") 50% 50% no-repeat rgba(0,0,0,0.5);
}
/*modal 通过给body添加样式自定义样式*/
body.modal-content-text-center .modal-content-text{
  text-align: center;
}

